In [1]:
# print 0 to 20 by using range

for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
# print range 10 to 20

for num in range(10,20):
    print(num, end =' ') # end = ' ' is used to separate by space

10 11 12 13 14 15 16 17 18 19

In [6]:
# Print number of items in the list by using 'len'

items = ["A","B","c","D","E",]
num_of_items = len(items)
print(num_of_items)

5

In [7]:
# [10, 20, 14, 55, 43, 87, 76]
# Number of item in the List2:
# 7

List2 = [10, 20, 14, 55, 43, 87, 76]
num_of_items2 = len(List2)
print("Number of item in the List2 :",num_of_items2)

Number of item in the List2 : 7

In [8]:
# iterate Artificial Intelligence

word = "Artificial Intelligence"

for i in word:
    print(i)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [9]:
# -Your Name-
# -Your Age-
# -Your Profession-


name = input("-Your Name-")
age = input("-Your Age-")
profession = input("-Your Profession-")

-Your Name-Malavika
-Your Age-26
-Your Profession-Employee

In [10]:
# Refer this link : https://www.geeksforgeeks.org/python-tuples/
# Print yhis mixered datatype using Tuples
# (1, 'Welcome', 2, 'Hope')

tuple1 = (1, 'Welcome', 2, 'Hope')
print(tuple1)

(1, 'Welcome', 2, 'Hope')

In [11]:
# Refer this link : https://www.geeksforgeeks.org/python-tuples/
# Tuple1 = (0, 1, 2, 3)
# ((0, 1, 2, 3), ('python', 'HOPE'))

tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'HOPE')
tuple3 = (tuple1,tuple2)
print("The nested tuple be: ",tuple3)

The nested tuple be:  ((0, 1, 2, 3), ('python', 'HOPE'))

In [17]:
# print Odd Numbers in the list
# (20,10,16,19,25,1,276,188)
# 19 is odd
# 25 is odd
# 1 is odd

number = (20,10,16,19,25,1,276,188)

for a in number:
    if (a%2) == 1:
        print(a, "is odd number")

19 is odd number
25 is odd number
1 is odd number

In [18]:
# print Even numbers in the list
# (20,10,16,19,25,1,276,188)
# 20 is odd
# 10 is odd
# 16 is odd
# 276 is odd
# 188 is odd

for b in number:
    if (b%2) == 0:
        print(b, "is even number")

20 is even number
10 is even number
16 is even number
276 is even number
188 is even number